<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <h1>Bem vindo à pagina inicial</h1>
    <p>Esta é a pagina inicial do PSIFY</p>
    <br>
    <p>Utilize o menu acima para navegares pela aplicação</p>
    <br>
    <p>Obter uma música por ID</p>
    <form>
       <input type="text" placeholder="Insira um ID" name="textid">
       <button></button> 
    </form>
</body>
</html>