<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
    <br> <br> <br> <br> <br> <br>
    <h1>Bem vindo à pagina inicial</h1>
    <br>
    <p>Esta é a pagina inicial do PSIFY</p>
    <br>
    <p>Utilize o menu acima para navegares pela aplicação</p>
    <br>
    <p>Obter uma música por ID</p>
       <input type="text" placeholder="Insira um ID" name="pesquisar_id" id="pesquisar_id">
       <button onclick="pesquisar()" id="" >Pesquisar</button> 
    
    <script>
        function pesquisar(){            
            window.location.href ='/songs/' + document.getElementById('pesquisar_id').value
        }
     </script>
</body>
</html>