<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>

    <h1>Criar uma nova musica</h1>
    <form action="/api/songs" method="post">
     Título<input type="text" placeholder="Insira o Título" name="texttitle">
     Artista<input type="text" placeholder="Insira o Artista" name="textartist">
     Género<input type="text" placeholder="Insira o Género" name="textgenre">
     Album<input type="text" placeholder="Insira o Album" name="textalbum">
     duração(seg)<input type="text" placeholder="Insira a duração" name="texttime">
     Data<input type="date" name="textdate">
     Likes<input type="text" placeholder="Insira o nº de likes" name="textlikes">
     <br>
     <button type="submit">Criar</button>    
    </form>    
    
</body>
</html>