<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>

    <h1>Criar uma nova musica</h1>
    <form  method="post">
     Título<input type="text" placeholder="Insira o Título" id="texttitle">
     Artista<input type="text" placeholder="Insira o Artista" id="textartist">
     Género<input type="text" placeholder="Insira o Género" id="textgenre">
     Album<input type="text" placeholder="Insira o Album" id="textalbum">
     duração(seg)<input type="text" placeholder="Insira a duração" id="texttime">
     Data<input type="date" id="textdate">
     Likes<input type="text" placeholder="Insira o nº de likes" id="textlikes">
     <br>
     <button type="submit">Criar</button>    
    </form>    
    
</body>
</html>