<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>

    <h1>Criar uma nova musica</h1>
    <form  id="ad_song">
     Título<input type="text" placeholder="Insira o Título" id="title" name="title"><br>
     Artista<input type="text" placeholder="Insira o Artista" id="artist" name="artist"><br>
     Género<input type="text" placeholder="Insira o Género" id="genre" name="genre"><br>
     Album<input type="text" placeholder="Insira o Album" id="album" name="album"><br>
     duração(seg)<input type="text" placeholder="Insira a duração" id="duration_seconds" name="duration_seconds"><br>
     Data<input type="date" id="release_date" name="release_date"><br>
     Likes<input type="text" placeholder="Insira o nº de likes" id="likes" name="likes">
     <br>
     <button type="submit">Criar</button>    
    </form>    
    <script>
       document.getElementById('ad_song').addEventListener('submit', function(event){
        event.preventDefault();

        const formdata = new FormData(event.target);
        const data = Object.fromEntries(formdata.entries());

        axios.post('/api/songs', data)
        .then(response =>{
            console.log('Success', response.data);
            location.reload();
        })
        .catch((error)=>{
            console.log('Error:', error)
        })
       }) 
    </script>
</body>
</html>